.calculator {
    background: #000;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    row-gap: 20px;
}
.calculator__input-block {
    width: 100%;
}
.calculator__input-block .input {
    height: 50px;
    background-color: #000;
    border: none;
    margin: 0;
    font-size: 45px;
    text-align: right;
    color: #fff;
}
.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.calculator__buttons > button:nth-child(17) {
    grid-column: 1/3;
}